.page-details {
  margin-top: 150px;

  @media (min-width: 1230px) {
    .container {
      max-width: 1220px;
    }
  }

  .tab-content {
    background: #fff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;

    p {
      font-size: 16px;
      @include media-breakpoint-down(sm) {
        font-size: 14px;
      }
    }

    .total {
      font-size: 28px;
    }

    .btn-bayar {
      padding: 12px 30px;
      font-size: 14px;
    }

    label {
      font-weight: 700;
      font-size: 14px;
      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }

    span {
      font-size: 14px;
      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }

    strong {
      font-size: 14px;
      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }

    .labelZakat {
      height: 35px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }

    .inputZakat {
      // font-size: 1.5em;
      padding: 16px 20px;
    }
  }

  // .kotak {
  //   box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  // }

  .nav-pills {
    a {
      @include media-breakpoint-up(md) {
        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        font-size: 24px;
      }
    }
  }

  h5 {
    color: #0c0d36;
    font-size: 18px;
    font-weight: 300;
  }
  .store-heading {
    margin-bottom: 10px;

    h1 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 0px;
      color: #0c0d36;
    }

    .owner {
      font-weight: 200;
      font-size: 14px;
      line-height: 21px;
      color: #979797;
      margin-bottom: 8px;
    }

    .price {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #ff7158;
      margin-bottom: 10px;
    }
  }

  .store-gallery {
    margin-bottom: 20px;

    img {
      border-radius: 10px;
    }

    .thumbnail-image {
      margin-bottom: 20px;
      border: 2px solid transparent;
      &:hover,
      &.active {
        border: 2px solid #ff7158;
      }
    }
  }
  .store-description {
    p {
      font-size: 16px;
      color: #525252;
      line-height: 180%;
    }
  }
  .store-review {
    .media {
      img {
        max-width: 50px;
      }
    }
    .media-body {
      font-size: 16px;
      line-height: 180%;
      color: #525252;

      h5 {
        font-weight: 300;
        font-size: 16px;
        line-height: 180%;
        color: #0c0d36;
      }
    }
  }
}
